@import "tailwindcss";
@theme {
  --font-poppins: "Poppins", "sans-serif";
  --font-mont: "Montserrat", "sans-serif";
  --color-primary: #0a192f;
  --color-secondary: #4fd1c5;
  --color-tertiary: #ccd6f6;
}

@layer components {
  .main-container {
    max-width: 1250px;
    margin: 0 auto;
  }
  .smooth-transition {
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: ease-in;
    transition-duration: 200ms;
  }
}

html,
body {
  scroll-behavior: smooth;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #64ffda;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #64ffda;
}
