@import "tailwindcss";
@theme {
  --font-poppins: "Poppins", "sans-serif";
  --font-mont: "Montserrat", "sans-serif";
  --color-secondary: #64ffda;
  --color-tertiary: #8892b0;
  --color-primary: #0a192f;
}

@layer components {
  .main-container {
    max-width: 1250px;
    margin: 0 auto;
  }
}

html,
body {
  scroll-behavior: smooth;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #64ffda;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #64ffda;
}
